.screen-reader-shortcut,
.screen-reader-text,
.screen-reader-text span {
	background-color: #fff;
	border: 0;
	clip: rect(0, 0, 0, 0);
	color: #222;
	height: 1px;
	overflow: hidden;
	position: absolute !important;
	width: 1px;
}

.genesis-nav-menu .search input[type="submit"]:focus,
.screen-reader-shortcut:focus,
.screen-reader-text:focus,
.widget_search input[type="submit"]:focus  {
	clip: auto !important;
	display: block;
	height: auto;
	padding: 15px 20px;
	text-decoration: none;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}
