.widget {
	margin-bottom: 40px;
	word-wrap: break-word;
}

.widget ol > li {
	list-style-position: inside;
	list-style-type: decimal;
	padding-left: 20px;
	text-indent: -20px;
}

.widget li li {
	border: 0;
	margin: 0 0 0 30px;
	padding: 0;
}

.widget_calendar table {
	width: 100%;
}

.widget_calendar td,
.widget_calendar th {
	text-align: center;
}

.widget .entry {
	border-width: 0;
	margin-bottom: 30px;
	padding: 0;
}

.widget:last-of-type,
.widget p:last-child {
	margin-bottom: 0;
}
